<%= form_for(post) do |f| %>
  <div class="field form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :kind %>
    <%= f.select :kind, ["text", "image"], {}, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
