<div class="panel panel-default">
	<div class="panel-heading" style="margin: 0; padding: 20px; position: relative">
		<div class="pull-right">
			<%= form_for(Heart.new) do |f| %>
				<%= f.hidden_field :post_id, value: post.id %>
				<%= f.submit "♥", class: 'btn btn-danger', style: 'position: absolute; top: 50%; transform: translateY(-50%); right: 15px' %>
			<% end %>
		</div>
		<h4 style="margin: 0">
			<!--<strong>Title:</strong>-->
			<%= link_to post.title, post %>
		</h4>
	</div>

	<div class="panel-body">
		<p>
			<strong>Content:</strong>
			<% if post.kind == 'image' %>
				<%= image_tag post.content, style: 'width: 100%' %>
			<% else %>
				<%= simple_format post.content %>
			<% end %>
		</p>
		<p class="text-muted">
			<small>
				<%= post.created_at.to_formatted_s(:long) %>
			</small>

			<small class="pull-right">
				<%= post.hearts.count %> hearts
			</small>
		</p>
	</div>
</div>